.DisplayData {
    width: 100%;
}
table {
    font-size: 12px;
}
th {
    font-weight: 500;
}
td,
th {
    text-align: left;
    padding: 14px;
}
td {
    height: 50px;
}
span.red {
    color: red;
}
span.under {
    display: block;
    font-size: 10px;
}
.cancelled {
    color: #c2c2c2;
}
span.cancelled {
    color: red;
    display: block;
    font-size: 12px;
}